.projects {
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;

  /* Beautiful gradient background */
  background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
  color: #fff;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 40px;

  /* gradient text */
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Card Styling */
.project-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);

  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 12px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.3);

  opacity: 0;
  transform: translateY(-40px);
}

/* Active animation class */
.project-card.show {
  animation: fadeDown 1s ease forwards;
}

/* Delay (ruk ruk ke effect) */
.project-card.show:nth-child(2) {
  animation-delay: 0.3s;
}

.project-card.show:nth-child(3) {
  animation-delay: 0.6s;
}

/* Animation Keyframes */
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px); /* start from top */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* come to normal */
  }
}